 body { 
 background: #000;
 color: #fff;
}
 h3 {
 text-transform: uppercase;
}
 .sub{
 background: transparent;
 color: #fff;
 text-decoration: none;
 text-transform: uppercase;
 padding: 8px 12px;
 border: 2px solid #fff;
 border-radius: 20px;
}
 table, tr, td, th { 
 border: 1px solid #fff;
 width: 320px;
}
 th, tr{
 text-align: center;
}
 
 span { 
 color: #262626;
 width: 200px;
}
 
 
 